/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,400,0,0");

/*==================== VARIABLES ====================*/
:root {
  --header-height: 3rem;

  /* Colors */
  --hue-color: 202;
  --first-color: hsl(var(--hue-color), 95%, 50%);
  --first-color-second: hsl(var(--hue-color), 100%, 92%);
  --first-color-alt: hsl(var(--hue-color), 100%, 85%);
  --first-color-lighter: hsl(var(--hue-color), 76%, 97%);
  --title-color: hsl(var(--hue-color), 63%, 8%);
  --text-color: hsl(var(--hue-color), 0%, 50%);
  --text-color-light: hsl(var(--hue-color), 100%, 100%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 100%, 98%);
  --container-color: #ffffff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --button-color: hsl(118, 33%, 54%);
  --button-color-hover: hsl(117, 32%, 36%);
  --button-color-active: hsl(118, 33%, 50%);
  --cancel-color: hsl(11, 100%, 50%);
  --cancel-color-hover: hsl(11, 100%, 40%);
  --timer-color: hsl(57, 100%, 73%);
  --note-color-text: hsl(50, 93%, 29%);
  --note-color-background: hsl(50, 100%, 96%);
  --note-color-border: hsl(50, 100%, 65%);

  /* Fonts */
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 0.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font weights */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Spacing */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* Border radius */
  --rounded-sm: 0.25rem;
  --rounded-md: 0.5rem;
  --rounded-lg: 0.75rem;
  --rounded-xl: 1rem;

  /* Z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*==================== BASE ====================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-bottom: var(--header-height);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/*==================== GLOBAL ====================*/
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== UTILITY CLASSES ====================*/
.container {
  width: 100%;
  max-width: 708px;
  margin: 1rem auto;
  background-color: var(--container-color);
  border-radius: var(--rounded-md);
}

/* Section */
.section {
  padding: 2rem 0 4rem;
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

/* Return Home Button */
.return-home-container {
  display: flex;
  justify-content: center;
  margin-top: var(--mb-1-5);
  margin-bottom: var(--mb-0-75);
  padding: 0 2rem;
}

.return-home-button {
  border: 1px solid var(--first-color);
  padding: 0.9rem 4rem;
  background-color: var(--first-color-lighter);
  color: var(--first-color);
  border-radius: var(--rounded-md);
  cursor: pointer;
  font-weight: var(--font-semi-bold);
}

.return-home-button:hover {
  background-color: var(--first-color-second);
}

/* Copy Button */
.copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: var(--first-color-lighter);
  color: var(--first-color);
  border: none;
  border-radius: var(--rounded-md);
  cursor: pointer;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.3rem;
}

.copy-button:hover {
  background-color: var(--first-color-second);
}

/* Cancel Button */
.cancel-button-container {
  display: flex;
  justify-content: center;
  margin-top: var(--mb-1-5);
}

.cancel-button {
  border: none;
  background: none;
  color: var(--cancel-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: var(--mb-2);
}

.cancel-button:hover {
  color: var(--cancel-color-hover);
}

/* Download */
.download-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: var(--button-color);
  color: var(--text-color-light);
  border: none;
  border-radius: var(--rounded-md);
  cursor: pointer;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.4rem;
}

.download-button:hover {
  background-color: var(--button-color-hover);
}

.download-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--mb-1-5);
}

/* Notes */
.notes {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--smaller-font-size);
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--note-color-background);
  color: var(--note-color-text);
  border: 1px solid var(--note-color-border);
  border-radius: var(--rounded-md);
  margin-top: 1rem;
}

.notes img {
  width: 1.2rem;
  height: 1.2rem;
}

.note-content {
  font-size: var(--small-font-size);
}

/* Link Button */
.link-button {
  text-decoration: underline;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 600;
  background: none;
  border: unset;
}

/* Pop Up */
/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Session Timer Pop UP */
/* Popup box */
.session-popup {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 400px;
}

#session-popup:target {
  display: flex;
}

.session-popup a.close {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: var(--first-color);
  background: var(--first-color-lighter);
  padding: 8px 16px;
  border-radius: 4px;
}

.session-popup a.close:hover {
  background: var(--first-color-alt);
}

/* Transaction Complete Pop Up */
/* Popup box */
.transaction-popup {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 400px;
}

#transaction-popup:target {
  display: flex;
}

.transaction-popup a.close {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: var(--first-color);
  background: var(--first-color-lighter);
  padding: 8px 16px;
  border-radius: 4px;
}

.transaction-popup a.close:hover {
  background: var(--first-color-alt);
}

/* Cancle Confirmation Pop Up */
/* Popup box */
.cancle-popup {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 400px;
}

#cancle-popup:target {
  display: flex;
}

.cancle-popup a.close {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: var(--first-color);
  background: var(--first-color-lighter);
  padding: 8px 16px;
  border-radius: 4px;
}

.cancle-popup a.close:hover {
  background: var(--first-color-alt);
}

/*==================== KYC ====================*/
.kyc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.kyc-container .adhar {
  width: 100%;
  height: 5rem;
}

.kyc-container .adhar-done,
.adhar-failed,
.adhar-await {
  width: 100%;
  height: 14rem;
}

.kyc-container input {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 16px;
  border: 2px solid var(--first-color-second);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.kyc-container input:focus {
  border: 2px solid var(--first-color);
}

/*==================== HEADER ====================*/
.header {
  width: 100%;
  background: url("./background.svg") no-repeat center center / cover;
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: var(--rounded-md) var(--rounded-md) 0 0;
}

.header-top,
.info-container,
.info-items,
.session-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top {
  margin-bottom: var(--mb-1-5);
}

.header-top h1 {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.info-items {
  margin-bottom: var(--mb-1-5);
  gap: 1rem;
}

.info-country,
.info-orderid {
  width: 7rem;
  padding: 0.2rem 0.5rem;
  background-color: var(--container-color);
  border-radius: var(--rounded-md);
}

.info-country p,
.info-orderid p {
  font-size: var(--small-font-size);
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.info-country span,
.info-orderid span {
  font-weight: var(--font-semi-bold);
  letter-spacing: 1px;
}

.session-timer {
  width: fit-content;
  padding: 0.2rem 0.5rem;
  background-color: var(--timer-color);
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  border-radius: var(--rounded-md);
  gap: 5px;
}

.info-amount {
  text-align: right;
  font-weight: var(--font-semi-bold);
}

.amount {
  font-size: 2.5rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  letter-spacing: -1px;
}

.info-amount span {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

/*==================== NAVIGATION ====================*/

.nav-methods {
  padding: 1rem;
}

.nav-methods h2 {
  margin-bottom: var(--mb-1-5);
}

.nav-item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  padding: 0.5rem 0.75rem;
  border-radius: var(--rounded-md);
  background-color: var(--first-color-second);
  cursor: pointer;
}

.nav-item:hover {
  background-color: var(--first-color-alt);
}

.nav-item img {
  max-width: 3rem;
  width: auto;
  height: 2.5rem;
  background-color: var(--container-color);
  border-radius: var(--rounded-sm);
  padding: 0.25rem;
}

/* Container Handler */
#PIX,
#UPI-QR,
#UPI,
#WALLET,
#NET-BANKING,
#CASH,
#BANK-TRANSFER,
#BANK-TRANSFER-ACCOUNT-DETAILS,
#CASH-ACCOUNT-DETAILS,
#PIX-DETAILS,
#UPI-QR-DETAILS {
  display: none;
}

#BANK-TRANSFER-SELECT,
#CASH-SELECT-BOX,
#PIX-SELECT,
#UPI-QR-SELECT {
  display: block;
}

/*==================== Payment Methods ====================*/

/* Payment Layout */
.payment-methods-container {
  padding: 1rem;
}

.payment-canvas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.payment-canvas input {
  padding: 12px 16px;
  font-size: 16px;
  border: 2px solid var(--first-color-second);
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.pay-button {
  padding: 0.9rem 5rem;
  width: fit-content;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--text-color-light);
  background-color: var(--button-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  align-self: flex-end;
}

.pay-button:hover {
  background-color: var(--button-color-hover);
}

.payment-canvas input:focus {
  border-color: var(--first-color);
  box-shadow: none;
}

.payment-heading {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: var(--mb-1-5);
}

.payment-methods h2 {
  margin-bottom: var(--mb-1-5);
}

.preferred-method {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: var(--mb-1);
  border-bottom: 0.1px solid var(--first-color-second);
  border-radius: 0.5px;
}

.preferred-method span {
  color: var(--title-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
}

/* UPI */
.suggestions {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.suggestions span {
  background-color: var(--first-color-lighter);
  border-radius: 6px;
  padding: 0.3rem 0.6rem;
  font-size: var(--smaller-font-size);
  cursor: pointer;
  border: none;
}

#UPI-COLLECT-BUTTON .pay-button {
  padding: 0.9rem 5rem;
}

/* UPI QR */
#UPI-QR .payment-canvas {
  align-items: center;
}

#UPI-QR .pay-button {
  align-self: center;
}

.upi-qr-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intent_container {
  display: none;
}

.qr-container {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.qr-container img {
  width: 283px;
  height: 283px;
  border-radius: 6px;
  filter: blur(4px);
}

.qr-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #1f2937;
  font-weight: var(--font-semi-bold);
  font-size: 0.875rem;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  min-width: 7.7rem;
}

.upi-qr-details .qr-container img {
  filter: blur(0px);
}

.or-divider {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: #6b7280;
  margin: 1rem 0;
}

.or-divider hr {
  flex-grow: 1;
  border-top: 1px solid #d1d5db;
}

.or-divider span {
  padding: 0 0.5rem;
}

.footer {
  border-top: 1px solid #d1d7e0;
  padding: 1rem 2rem;
  text-align: center;
  color: #6b7280;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
}

.footer p {
  margin-bottom: 1.5rem;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  max-width: 395px;
  margin: 0 auto;
}

.logos img {
  width: 80px;
  height: 30px;
  opacity: 0.5;
}

.logos img:first-child {
  margin-left: 1%;
}

/* Net Banking */
.bank-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: center;
  margin-bottom: var(--mb-1-5);
}

.bank-card {
  width: 100%;
  font-size: var(--smaller-font-size);
  background-color: var(--first-color-second);
  padding: 0.5rem 1rem;
  border-radius: var(--rounded-md);
  color: var(--title-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1;
}

.bank-card:hover {
  background-color: var(--first-color-alt);
}

.top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mb-0-25);
}

/* Bank Transfer */
.Bank-Transfer-select h4,
.Bank-Transfer-select .pay-button,
.Bank-Transfer-select .custom-select-wrapper {
  margin-bottom: var(--mb-1-5);
}

.Bank-Account-details > * {
  margin-bottom: var(--mb-1-5);
  border-bottom: 1px solid var(--first-color-second);
}

.Bank-Account-details > :last-child {
  border-bottom: unset;
}
#BANK-TRANSFER-SELECT{
  display: flex;
  flex-direction: column;
}
#BANK-TRANSFER-PAY-BUTTON{
  align-self: end;
}
.details-item p {
  font-size: var(--h4-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.detail-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--mb-0-5);
}

.detail-content p {
  font-size: var(--h4-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}

/* Cash */
.cash-account-details > * {
  margin-bottom: var(--mb-1-5);
  border-bottom: 1px solid var(--first-color-second);
}

.cash-account-details > :last-child {
  border-bottom: unset;
}

.Cash-Select-wrapper {
  display: flex;
  flex-direction: column;
}

.cash-account-details {
  border-radius: var(--rounded-md);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* PIX */
.custom-select-wrapper {
  position: relative;
}

.custom-select {
  appearance: none;
  width: 100%;
  padding: 14px 16px;
  font-size: var(--normal-font-size);
  border: 2px solid var(--first-color-second);
  border-radius: 8px;
  background-color: white;
  color: var(--title-color);
  font-family: var(--body-font);
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
}

.custom-select:focus {
  outline: none;
  border-color: var(--first-color);
  box-shadow: 0 0 0 2px var(--first-color-second);
}

.pix-item {
  display: flex;
  flex-direction: column;
  gap: var(--mb-1);
}

.pix-qr-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--mb-1);
}

.pix-select > * {
  margin-bottom: var(--mb-1-5);
}

#PIX .return-home-container {
  justify-content: flex-end;
}

/* Wallet */
.group-content {
  padding: 1.5rem 1rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  overflow-x: auto;
}

.hidden {
  display: none;
}

.item {
  position: relative;
  border: 1.5px solid var(--first-color-second);
  border-radius: var(--rounded-md);
  padding: 0.75rem;
  cursor: pointer;
  width: auto;
  min-width: 8rem;
  max-width: 10rem;
  text-align: center;
  color: #374151;
  font-size: 1rem;
  font-weight: var(--font-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  background-color: #fff;
}

.item input[type="radio"] {
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.item input[type="radio"]:checked {
  border-color: var(--first-color);
  border-radius: var(--rounded-md);
}

.item input[type="radio"]:checked + .radio-dot {
  display: block;
  background-color: var(--first-color);

}

.radio-dot {
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--first-color-second);
}

.item img {
  width: 5rem;
  height: 2rem;
  object-fit: contain;
}

.item-label {
  color: var(--text-color);
}

.insta-logo {
  width: 3rem;
  height: 1.5rem;
  object-fit: contain;
}

/*==================== MEDIA QUERIES ====================*/
@media screen and (max-width: 350px) {
  .header {
    background: url(./Mobile\ BG.svg) no-repeat bottom center / cover;
  }
}

@media screen and (max-width: 610px) {
  /* Container */
  .container {
    margin: 0;
  }
  /* Nav Menu */
  .nav-item-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Header */
  .info-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .amount {
    font-size: 2rem;
  }
  .session-timer {
    padding: 0.2rem 0.2rem;
  }
  /* UPI Collect */
 
  /* UPI-QR */
  .intent_container {
    display: block;
  }
  /* Wallet */
  .group-content {
    padding: 1.5rem 0;
    gap: 1rem;
  }
  /* Net Banking */
  .bank-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Pay Button */
  .pay-button {
    align-self: center;
    width: 100%;
  }
  .payment-canvas a{
    display: flex;
    justify-content: center;
  }
  /* Return Button */
  .return-home-button {
    padding: 1rem 3rem;
  }
}

/* Large device font sizes */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
